{% extends "LaAdminBundle::layout.html.twig" %}
{% set multiple = member is iterable and member|length > 1 %}

{% block title %}
    {% if multiple %}
        Plusieurs membres trouvés:
    {% elseif member is iterable and member.0.EMAIL is defined %}
        Détails: {{ member.0.EMAIL }}{% if member.0.MEMBER_ID is defined %} (#{{ member.0.MEMBER_ID }}){% endif %}
    {% else %}
        Erreur !
    {% endif %}
{% endblock title %}

{% block content %}
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12"><a href="{{ path('la_smart_focus_members_admin_individual_search') }}">← Retour</a>
            </div>
            &nbsp;
            <div class="col-lg-12">
                {% if error is not null %}
                    {{ error }}
                {% else %}
                    {% if multiple %}
                        <div role="tabpanel">
                            <!-- Nav tabs -->
                            <ul class="nav nav-tabs" role="tablist">
                                {% for item in member %}
                                    <li role="presentation" {% if loop.first %}class="active"{% endif %}>
                                        <a href="#{{ item.MEMBER_ID }}" aria-controls="{{ item.ID_CLIENT }}" role="tab"
                                           data-toggle="tab">{{ item.MEMBER_ID }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                            <!-- Tab panes -->
                            <div class="tab-content">
                                {% for item in member %}
                                    <div role="tabpanel" class="tab-pane {% if loop.first %}active{% endif %}"
                                         id="{{ item.MEMBER_ID }}">
                                        {% if widget is not null %}
                                            {{ include(widget, {item: item}) }}
                                        {% endif %}
                                        <div class="table-responsive">
                                            <table class="table table-striped table-bordered table-hover">
                                                {% for field, value in item %}
                                                    <tr>
                                                        <th>{{ field }}</th>
                                                        <td>{{ value }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </table>
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% else %}
                        {% if widget is not null %}
                            {{ include(widget, {item: member.0}) }}
                        {% endif %}
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                {% for field, value in member.0 %}
                                    <tr>
                                        <th>{{ field }}</th>
                                        <td>{{ value }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    {% endif %}
                {% endif %}
            </div>

        </div>
    </div>
{% endblock content %}

{% block extra_js %}
    {% if multiple %}
        <script>
            {% for item in member %}
            $('#'.concat({{ item.MEMBER_ID }})).click(function (e) {
                e.preventDefault();
                $(this).tab('show');
            });
            {% endfor %}
        </script>
    {% endif %}
{% endblock %}