{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    Chercher un Membre SmartFocus
{% endblock title %}

{% block content %}
    {% if widget is defined and widget is not null %}
        {{ include(widget, {email: email}) }}
    {% endif %}
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                Chercher un membre par son email ou son id SmartFocus.
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-12">
                        {{ form(form) }}
                    </div>

                </div>
                <!-- /.row (nested) -->
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->
    </div>

    {#<div class="col-lg-6">#}
        {#{{ session.history('Historique des emails', 'email', 'la_user_admin_crm', 10) }}#}
    {#</div>#}


{% endblock content %}
