{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    Detail de l'export SmartFocus #{{ data.id }}
{% endblock title %}

{% block content %}
    <a href="{{ path('la_smart_focus_members_admin_batch_history') }}">← Retour</a>
    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                {% if data.log is not null %}
                    <h2>Log file</h2>
                    <pre>{{ data.log }}</pre>
                {% endif %}
                {% if data.bad is not null %}
                    <h2>File sent with errors</h2>
                    <pre>{{ data.bad }}</pre>
                {% endif %}
                {% if data.log is null and data.bad is null %}
                    <pre>Aucune information.</pre>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}