{% extends "LaAdminBundle::layout.html.twig" %}

{% block title %}
    Historique des exports SmartFocus
{% endblock title %}

{% block content %}

    <div class="panel-body">
        <div class="row">
            <div class="col-lg-12">
                {% if data is null %}
                    Pas de donnée.
                {% else %}
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Source</th>
                                <th>Short Status</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in data %}
                                <tr>
                                    <td>
                                        <a href="{{ path('la_smart_focus_members_admin_batch_detail', { 'id': item.id}) }}">{{ item.id }}</a>
                                    </td>
                                    <td>{{ item.source }}</td>
                                    <td>{{ item.shortStatus }}</td>
                                    <td>{{ item.status|raw }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                {% endif %}
            </div>

        </div>
    </div>

{% endblock content %}